Homework2/src/main/resources/book.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://resource/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BookingServiceResourceImplService" targetNamespace="http://resource/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://resource/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://resource/">
  <xs:element name="bookTicket" type="tns:bookTicket"/>
  <xs:element name="bookTicketResponse" type="tns:bookTicketResponse"/>
  <xs:complexType name="bookTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ticket"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="dest" type="xs:string"/>
      <xs:element minOccurs="0" name="extrainfo" type="xs:string"/>
      <xs:element minOccurs="0" name="firstname" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="price" type="xs:double"/>
      <xs:element minOccurs="0" name="src" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotAllowedException" type="tns:NotAllowedException"/>
  <xs:complexType name="NotAllowedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookTicketResponse">
    <wsdl:part element="tns:bookTicketResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookTicket">
    <wsdl:part element="tns:bookTicket" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotAllowedException">
    <wsdl:part element="tns:NotAllowedException" name="NotAllowedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookingServiceResource">
    <wsdl:operation name="bookTicket">
      <wsdl:input message="tns:bookTicket" name="bookTicket">
    </wsdl:input>
      <wsdl:output message="tns:bookTicketResponse" name="bookTicketResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NotAllowedException" name="NotAllowedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingServiceResourceImplServiceSoapBinding" type="tns:BookingServiceResource">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookTicket">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookTicket">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotAllowedException">
        <soap:fault name="NotAllowedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingServiceResourceImplService">
    <wsdl:port binding="tns:BookingServiceResourceImplServiceSoapBinding" name="BookingServiceResourceImplPort">
      <soap:address location="http://localhost:8080/soap/book"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>