Homework3/src/main/resources/authorize.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:tns="http://www.example.org/auth/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 name="AuthServiceResourceImplService" targetNamespace="http://www.example.org/auth/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/auth/"
    						elementFormDefault="unqualified" version="1.0">

    	<xsd:element name="login" type="tns:login" />
    	<xsd:element name="loginResponse" type="tns:loginResponse" />

  		<xsd:complexType name="login">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="username" type="xsd:string"/>
          <xsd:element minOccurs="0" name="password" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>


			<xsd:complexType name="loginResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="token" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <!-- MESSAGES -->
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>

  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>

  <!-- PORTS -->

  <wsdl:portType name="AuthServiceResource">
  	<wsdl:operation name="login">
			<wsdl:input message="tns:login" name="login"></wsdl:input>
			<wsdl:output message="tns:loginResponse" name="loginResponse"></wsdl:output>
		</wsdl:operation>
  </wsdl:portType>

  <!-- Bindings -->

  <wsdl:binding name="AuthServiceResourceImplServiceSoapBinding" type="tns:AuthServiceResource">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:service name="AuthServiceResourceImplService">
    <wsdl:port binding="tns:AuthServiceResourceImplServiceSoapBinding" name="AuthServiceResourceImplPort">
      <soap:address location="http://localhost:8080/soap/auth/login"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
