XMLProj/resources/shiporder.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.skatestown.com/ns/po"
    targetNamespace ="http://www.skatestown.com/ns/po">
  <xs:element name="contacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="contact1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="contact1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstname" type="xs:string"/>
        <xs:element name="lastname" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>